@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  padding: 8px 4px 8px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    margin: 0;
    font-size: 18px;
    padding: 4px 7px;
    outline: none;
    border: 1px solid transparent;
    color: black;
    line-height: 22px;
    height: 32px;
    &:focus {
      border: 1px solid #1a73e8;
    }
    &:hover {
      border: 1px solid $border-color;
    }
  }
  .button {
    @include button(blue)
  }
}